@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body {
    background-color: honeydew;
    display: flex;
    height: 100vh;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

canvas {
    display: grid;
    background-color:rgb(198, 230, 255);
    border: 2px solid black; 
    
}

#SudokuMap {
    display: grid;
    column-rule-style: solid;
    grid-template-columns: repeat(9, 50px); /* 8 colunas de 50px cada */
    grid-template-rows: repeat(9, 50px); 
    width: 540px; /* 9 quadrados de 60px cada */
    height: 540px; /* 9 quadrados de 60px cada */
    border: 2px solid black; /* Adicionando uma borda para visualização */
}

.timescore{
    display: flex;
    flex-direction: row; 
    gap: 90pt;
    color: rgb(83, 83, 83);
    font-size: 1.8rem;
}

.time--count,
.invalid,
.score {
    color: rgb(83, 83, 83);
    font-weight: 700;
    font-size: 2.5rem;
    display: grid;
    margin-top: -10px;
}

.invalid{
    margin-top:-5px;
}

h5 {
    margin-top: 3px;

}


.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final--time {
    font-weight: 500;
    font-size: 1.5rem;
}

 .quadrado {
            width: 66px;
            height: 66px;
            border: 1px solid black;
            box-sizing: border-box;
        }

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}